PORT=3000
FIREBASE_PROJECT_ID=seu-project-id
FIREBASE_CLIENT_EMAIL=email-da-conta-de-servico
FIREBASE_PRIVATE_KEY=CONFIGURAR_APENAS_NA_HOSPEDAGEM
FIREBASE_DATABASE_URL=https://seu-projeto-default-rtdb.firebaseio.com